/* products css */

.products {
  max-height: 125px;
  background-color:#337ab7;
  color: white;
}


.products .thumbnail{
  position: relative;
  height: 100px;
  width: 90px;
  background-image: url(../image/monster_52.png); 
  background-size: cover; 
  border-style: dashed;
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border: 2px; 
  border-radius: 0; 
  background-color: #337ab7;
}

.products .thumbnail2{
  position: relative;
  height: 100px;
  width: 90px;
  background-image: url(../image/cash.png); 
  background-size: cover; 
  background-color: #1abc9c;
  border-style: dashed;
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border: 2px; 
  border-radius: 0; 
}

.products .title{
  text-shadow: 1.5px 0.5px black;
  text-transform: capitalize;
}

.spacer {
  padding-bottom:1em;
}