body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.spacer {
  padding-top: 0.5em;
}

.form-signin {
  max-width: 440px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.heading-2 
{ 
  background-image: url(../image/bgform.jpg); 
  background-size: cover; 
  height: 225px; 
  -webkit-box-shadow: none; 
  box-shadow: none; 
  border: 0px; 
  border-radius: 0; 
}    

.panel { -webkit-box-shadow: none; box-shadow: none; border: 0px; }

.panel-profile-img { max-width: 125px; margin-top: -95px; margin-bottom: 5px; border: 3px solid #fff; border-radius: 0%; }
.panel > .panel-body > .author-text { font-size: 12px; color: #333; font-weight: 300; font-family: 'Open Sans', sans-serif; }
.panel > .panel-body > .author-title { font-size: 16px; color: #000; font-weight: 400; font-family: 'Open Sans', sans-serif; padding-top: 12px; }